[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
rope = "*"

[packages]
black = "*"
freezegun = "*"
mock = "*"
numpy = "*"
pandas = "*"
py-dateutil = "*"
pytest = "*"
pytest-cov = "*"
requests = "*"
statsmodels = "*"
pylint = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
